{{> header}}
<style>
  .btn-block {
    display: inline-block !important;
    width: 80% !important;
    margin: 10px 0;
  }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>My Polls: <a class="btn btn-success" href="/poll/new">+ Create</a></h2>
            {{#if polls}}
              {{#each polls}}
              <a class="btn btn-default btn-block" href="/poll/{{_id}}">
                  {{poll_title}}
              </a>
              <a class="btn btn-danger" href="/poll/delete/{{_id}}">Delete</a>
              {{~/each}}
            {{^}}
              <br><br>
              <pre>You haven't created any polls yet!</pre>
            {{/if}}
        
        </div>
    </div>    
</div>            
        
{{> footer}}