{{> header}}

<div class="jumbotron">
    <div class="container">
        <div class="col-md-8 col-md-offset-2">
            <h3>{{title}}</h3>

            {{#if message}}
            <div class="alert alert-danger">{{message}}</div>
            {{/if}}
        
        </div>
        <div class="col-md-4 col-md-offset-4">
            
            <form method="POST">
                {{#if signup}}
                    <label>Full Name</label>
                    <input type="text" name="name" class="form-control">
                    <label>Email Address</label>
                    <input type="email" name="email" class="form-control">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control">
                    <br>
                    <button class="btn btn-success btn-block" type="submit" value="signup" name="submit">Sign Up!</button>
                {{^}}
                    <label>Email Address</label>
                    <input type="email" name="email" class="form-control">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control">
                    <br>
                    <button class="btn btn-success btn-block" type="submit" value="signup" name="submit">Login</button>
                {{/if}}
            </form>
        </div>
    </div>
</div>



{{> footer}}